/*****
FONTS
*****/

@font-face {
    font-family: "BetterFly";
    src: url("../fonts/BetterFly-Draft.woff2") format("woff2"),
        url("../fonts/BetterFly-Draft.woff") format("woff");
}

@font-face {
    font-family: "BFNarrow";
    src: url("../fonts/BetterFly-Narrow.woff2") format("woff2"),
     url("../fonts/BetterFly-Narrow.woff") format("woff");
}

@font-face {
    font-family: "Crimson Text";
    font-style: "italic";
    font-weight: 400;
    src: local("Crimson Text Italic"), local("CrimsonText-Italic"),
     url("http://fonts.gstatic.com/s/crimsontext/v6/a5QZnvmn5amyNI-t2BMkWBMBlNeli-0RcAdOFWWLdxQ.woff2")
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Crimson Text";
    font-style: italic;
    font-weight: 600;
    src: local("Crimson Text Semibold Italic"), local("CrimsonText-SemiboldItalic"),
     url("http://fonts.gstatic.com/s/crimsontext/v6/4j4TR-EfnvCt43InYpUNDErrE62zycmuf6NB1JeYrwM.woff2")
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
     U+FEFF, U+FFFD;
  }

@font-face {
    font-family: "Crimson Text";
    font-style: normal;
    font-weight: 700;
    src: local("Crimson Text"), local("CrimsonText-Roman"),
     url("http://fonts.gstatic.com/s/crimsontext/v6/3IFMwfRa07i-auYR-B-zNegdm0LZdjqr5-oayXSOefg.woff2")
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
     U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    src: local('Crimson Text Bold'), local('CrimsonText-Bold'),
     url(https://fonts.gstatic.com/s/crimsontext/v8/wlppgwHKFkZgtmSR3NB0oRJX1C1GDNNQ.woff2)
      format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
     U+FEFF, U+FFFD;
  }

:root {
    --clr-text:#3d3d3d;
    --clr-primary: #32CD32;
    --clr-accent: #00BFFF;

    --ff-title: "BFNarrow", sans-serif;
    --ff-serif: "Crimson Text", serif;
    --ff-logo: "BetterFly", sans-serif;

    padding: 0.2em;
}

/* Tipografia */

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h2,
h3 {
    font-family: var(--ff-title);
    line-height: 0.8;
    letter-spacing: 1px;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-family: var(--ff-title);
}



nav a {
    font-family: var(--ff-serif);
    font-size: 16px;
    display: block;
    color:#32CD32;

}


main {
    padding: 2em;
    color: white;
}


#about-us h2 {
    text-align: center;
    margin-bottom: 0.5em;
}

#about-vr h2 {
    margin-bottom: 0.5em;
    margin-top: 0.3em;
   
}

#contents {
    color: #32CD32;

}
.section-title-small {
    font-size: 3rem;
}



/*grid*/

.container {
    display: grid;
    gap: 0.5em;
    grid-template-areas: 
        "nav nav nav nav"
        "main main main hero"
        "contents contents contents hero"
        "content1 content2 content3 hero"
        "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
   
}



nav {
    background-image: url(../img/Victoria\ 1\ 1024x575.jpg);
    grid-area: nav;
    color: white;

    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
      background-size:cover;
    
}  
    
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

/*nav ul li img {
    border: #3d3d3d;
    border-color: #3d3d3d;
    border-width: 100px;
    overflow: hidden;


}*/

nav a {
    display: flex;
    padding: 0;
    color: var(--clr-primary);
    text-decoration: none;
}


main {
    background: rgb(14, 154, 201);
    grid-area: main;
}

#hero {
    background-color: #666;
    background-image: url(../img/casa2.jpg);
    background-blend-mode: multiply;
  background-attachment: fixed;
    background-size:cover;
    color: white;
    text-align: center;
    padding: 25vh 1em;
    grid-area: hero;
}

#contents {
    background: rgb(250, 6, 6);
}

#content1 {
    background: #a6cf98;
    grid-area: content1;
}

#content2 {
    background: #d6e5fa;
    grid-area: content2;
}

#content3 {
    background: #7cd1b8;
    grid-area: content3;
}

footer {
    background: #a3e4db;
    grid-area: footer;
}

@media only screen and (max-width: 550px) {
    .container {
    grid-template-areas: 
        "nav"
        "hero"
        "main"
        "contents"
        "content1"
        "content2"
        "content3"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }


}





    
