/*****
FONTS
*****/

@font-face {
    font-family: "BetterFly";
    src: url("../fonts/BetterFly-Draft.woff2") format("woff2"),
        url("../fonts/BetterFly-Draft.woff") format("woff");
}

@font-face {
    font-family: "BFNarrow";
    src: url("../fonts/BetterFly-Narrow.woff2") format("woff2"),
     url("../fonts/BetterFly-Narrow.woff") format("woff");
}

@font-face {
    font-family: "Crimson Text Italic";
    font-style: "italic";
    font-weight: 400;
    src: local("Crimson Text Italic"), local("CrimsonText-Italic"),
     url("http://fonts.gstatic.com/s/crimsontext/v6/a5QZnvmn5amyNI-t2BMkWBMBlNeli-0RcAdOFWWLdxQ.woff2")
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Crimson Text Semibold";
    font-style: italic;
    font-weight: 600;
    src: local("Crimson Text Semibold Italic"), local("CrimsonText-SemiboldItalic"),
     url("http://fonts.gstatic.com/s/crimsontext/v6/4j4TR-EfnvCt43InYpUNDErrE62zycmuf6NB1JeYrwM.woff2")
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
     U+FEFF, U+FFFD;
  }

@font-face {
    font-family: "Crimson Text";
    font-style: normal;
    font-weight: 700;
    src: local("Crimson Text"), local("CrimsonText-Roman"),
     url("http://fonts.gstatic.com/s/crimsontext/v6/3IFMwfRa07i-auYR-B-zNegdm0LZdjqr5-oayXSOefg.woff2")
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
     U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Crimson Text Bold";
    font-style: normal;
    font-weight: 700;
    src: local('Crimson Text Bold'), local('CrimsonText-Bold'),
     url(https://fonts.gstatic.com/s/crimsontext/v8/wlppgwHKFkZgtmSR3NB0oRJX1C1GDNNQ.woff2)
      format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
     U+FEFF, U+FFFD;
  }

:root {
    --clr-text:#3d3d3d;
    --clr-primary: forestgreen;
    --clr-accent: #00BFFF;

    --ff-title: "BFNarrow", sans-serif;
    --ff-tserif: "Crimson Text Bold", serif;
    --ff--pserif: "Crimson Text", serif;
    --ff-logo: "BetterFly", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
   
}

html {
    margin: 0;
    max-width: fit-content;
}

/* Tipografia */

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1 {
    font-family: var(--ff-title);
    letter-spacing: 1px;
    font-size: 4rem;
}
h2,
h3 {
    font-family: var(--ff-title);
    line-height: 0.8;
    letter-spacing: 1px;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-family: var(--ff-title);
}



nav ul {
    font-family: var(--ff-tserif);
    font-size: 16px;
    display: block;
    color:white;
    display: block;
}


main {
    margin: 0;
    padding: 0;
    color: white;
}

main about-us {
    
    padding: 5em;
}
#about-us h2 {
    text-align: center;
    
    font-size: 4rem;
}

#about-us p {
    text-align: center;
    
    font-size: 2rem;
}
/*#about-vr h2 {
    
    padding: 10px;
  
}*/


#about-vr p {
    text-justify: distribute;
    font-size: 1.5rem;
    
}
.section-title-small {
    text-justify: distribute;
    font-size: 3rem;
   
}


#contents {
    color: var(--clr-primary);
    text-align: center;
    padding: 1em;

}

#contents p {
    padding: 4em;
    font-size: 1.5rem;
    justify-content: center;
}

#content1 h3, #content2 h3, #content3 h3, #content4 h3 {
    text-align: center;
    font-size: 2.5rem ;
    padding: 0.5em;
}



#cotiza h3 {
    color: white;
    padding: 2%;
    padding-left: 0;
    letter-spacing: 3px;
    font-size: 1.5rem;
}

footer {
    color: white;
}

/*grid*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

    
.wrapper {
    display: grid;
    border: 0;
    border-style: solid;
    border-color: white;
    grid-gap: 10px;
  
   
    grid-template-areas: 
        "nav nav nav nav"
        "hero hero hero hero"
        "main main main main"
        "contents contents contents contents"
        "content1 content1 content2 content2"
        "content3 content3 content4 content4"
        ". form2 form2 ."
        "footer footer footer footer"
        "soc . . addr";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
   
}



nav {
    
    grid-area: nav;
   

    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
      background-size:cover;
    
}  

.nav-img {
    display: block;
    align-self: center;

}
    
nav ul {

    display: flex;
    color: forestgreen;
    
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

/*nav ul li img {
    border: #3d3d3d;
    border-color: #3d3d3d;
    border-width: 100px;
    overflow: hidden;


}*/

nav a {
    display: flex;
    padding: 0;
    color: var(--clr-primary);
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: underline;
    color: var(--clr-accent);
}

main {
    background: deepskyblue;
    grid-area: main;
    display: flex;
    flex-direction: row;

}

#hero {
    background-color: #666;
    background-image: url(../img/casa3.jpg);
    background-blend-mode: multiply;
  background-attachment: fixed;
    background-size:cover;
    color: white;
    text-align: center;
    padding: 25vh 1em;
    grid-area: hero;
}

#contents {

    
    grid-area: contents;
}

#content1 {

    grid-area: content1;
    border-radius: 0.35em;
    overflow: hidden;
    box-shadow: 0 0 1em rgb(0,0,0,0.2);
    margin: 0.8rem;
}




img {  
    display: block;
    max-width: 100%;
    align-content: center;
}

#content2 {

    grid-area: content2;
    border-radius: 0.35em;
    overflow: hidden;
    box-shadow: 0 0 1em rgb(0,0,0,0.2);
    margin: 0.8rem;
}

#content3 {

    grid-area: content3;
    border-radius: 0.35em;
    overflow: hidden;
    box-shadow: 0 0 1em rgb(0,0,0,0.2);
    margin: 0.8rem;
}

#content4 {
    grid-area: content4;
    border-radius: 0.35em;
    overflow: hidden;
    box-shadow: 0 0 1em rgb(0,0,0,0.5);
    margin: 0.8rem;
}




footer {
    background: #333;
    grid-area: footer;
    padding: 3em 1em;
    color: white;
}


footer a {
    color: inherit;
    text-transform: uppercase;
}

.footer-nav {
  
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-nav a {
    padding: 0.75em;
    text-decoration: none;
    

}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-info {
    display: grid;
    grid-template-columns: 1fr,1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "addr soc" ;
}

.footer address {
    grid-area: addr;
}

.footer soc {
    grid-area: soc;
}
.soc-heading {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.footer-soc {
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
       
}

.social-link {
    
    margin: 5px;
    justify-items: center;
}

.social-icon {
   
    max-width: fit-content;
    background-color: white;
    border-radius: 30% ;
    border-color: #e9ecef;
    padding: 1em;
    align-self: center;
    
    
    
}


@media only screen and (max-width: 770px) {
    .wrapper {
    grid-template-areas: 
        "nav"
        "hero"
        "main"
        "contents"
        "content1"
        "content2"
        "content3"
        "content4"
        "form2"
        "footer"
        "soc";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    main {
        display: flex;
        flex-direction: column;
    }


}




.cotiza .nav-tabs .nav-link:hover{
    border: none;
    border-width: 50%;
}
.text-align{
    margin-top: 0%;
    margin-bottom: 0%;

    padding: 0%;
    margin-left: 0%;
}
.form-new{
    margin-right: 20%;
    margin-left: 20%;
}
.cotiza-heading{
   
    color: #e9ecef;
    text-align: center;
}
.cotiza-heading h1{
    /*margin-left: 21%;
    margin-bottom: 10%;*/
    color: #e9ecef;
}

.cotiza {
    background: -webkit-linear-gradient(left, forestgreen, deepskyblue);
    margin-block: 2%;
    margin-top: 3%;
    padding: 5%;
    grid-area: form2;
    border-radius: 2.5rem;
}

.form-group input {
    width: 100%;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #03612e;
    border: none;
    cursor: pointer;
    margin-right: 15%;
    color: rgb(246, 246, 252);
    margin-top: 4%;
}
    
